<div id='homepage'>
  <h1>Welcome to the Employee Portal</h1>

  <div class='row'>
    <div class='col-md-6'>
      <a href='/projects'>Projects</a>
    </div>

    <div class='col-md-6'>
      <a href='/volunteers'>Volunteers List</a>
    </div>
  </div>
</div>
