<div id='project'>
  <h1><%= @project.description() %></h1>

  <div class='row'>
    <div class='col-md-8'>
      <h2>Volunteers Assigned to this Project:</h2>
      <ul>
        <% @project.volunteers().each() do |volunteer| %>
        <li><a href='/volunteers/<%= volunteer.id() %>'><%= volunteer.name %></a></li>
        <% end %>
      </ul>

      <h3>Add a New Volunteer:</h3>
      <form action='/projects/new_volunteer' method='post'>
        <input type='hidden' name='project_id' value='<%= @project.id() %>'>
        <label for='name'>Volunteer name:</label>
        <input name='name' type='text'>
        <button type='submit' class='btn btn-outline-success'>Add Volunteer</button>
      </form>
    </div>

    <div class='col-md-4'>
      <hr>

      <p>Update and delete</p>
    </div>
  </div>
</div>
