<div id='volunteer'>
  <h1><%= @volunteer.name() %></h1>
  <h2>Project assignment: <%= @volunteer.project() %></h2>
  <h2>Hours contributed: <%= @volunteer.hours() %></h2>

  <p>Update volunteer info</p>
  <p>Delete volunteer</p>

</div>
